{% extends 'base.html' %}
{% load static %}
{% block title %}
        store
{% endblock %}

{% block content %}
<div>
    <img src="{% static 'img/school sto.png' %}" alt="our products" width="1550" height="550">
</div><br>
<div>
    <h1 class="text-center my_title"><b>Get Ready for Success at Your College Store</b></h1>
    <p class="text-justify">  Welcome to the ultimate hub for all your college needs! Whether you're a freshman starting your academic journey or a seasoned senior gearing up for graduation, our college store has you covered. Discover a world of convenience, savings, and style all under one roof. Textbooks and Course Materials
Say goodbye to expensive textbooks! We offer a vast selection of new and used books, e-textbooks, and course materials at competitive prices. Don't break the bank; shop smart at your college store.</p>
</div>


{% endblock %}